@page
@using BusinessLogic;
@using DAL;
@model AdventureAisleCore.Pages.ParisModel
@{
}
<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="~/css/paris.css" />
		<link rel="stylesheet" href="~/css/ratingsandreviews.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
			<div class="page-content">
				<div class="flex-container">
					<div class="buttons-img">
						<img src="~/images/p.jpg"/>
						@if (Model.User != null)
						{
							@if (Model.Desi.FirstOrDefault().DesStatus != null && Model.Desi.FirstOrDefault().DesStatus == 0)
							{
								<div class="buttons">
									<form method="post">
										<button type="submit" name="DesStatus" value="BeenTo" id="beenTo">Been to</button>
										<button type="submit" name="DesStatus" value="GoingTo" id="goingTo" style="background-color: rgb(234, 200, 213)">Going to</button>
									</form>
								</div>
							}
							else if (Model.Desi.FirstOrDefault().DesStatus == 1)
							{
								<div class="buttons">
									<form method="post">
										<button type="submit" name="DesStatus" value="BeenTo" id="beenTo" style="background-color: rgb(234, 200, 213)">Been to</button>
										<button type="submit" name="DesStatus" value="GoingTo" id="goingTo">Going to</button>
									</form>
								</div>
							}
							else
							{
								<div class="buttons">
									<form method="post">
										<button type="submit" name="DesStatus" value="BeenTo" id="beenTo">Been to</button>
										<button type="submit" name="DesStatus" value="GoingTo" id="goingTo">Going to</button>
									</form>
								</div>
							}
						}
					</div>
	
						<div class="city-info">
							<h1 class="city-name">Paris</h1>
				@foreach(var des in Model.Desi)
				{
					<h5 class="city-rating">@des.AvgRating</h5>
				}

					<form method="post">

								<input type="radio" id="star-1" value="1" asp-for="CheckedValue">
								<input type="radio" id="star-2" value="2" asp-for="CheckedValue">
								<input type="radio" id="star-3" value="3" asp-for="CheckedValue">
								<input type="radio" id="star-4" value="4" asp-for="CheckedValue">
								<input type="radio" id="star-5" value="5" asp-for="CheckedValue">

						<div class="content">

							<div class="stars">
								<label for="star-1" class="star-1 fas fa-star"></label>
								<label for="star-2" class="star-2 fas fa-star"></label>
								<label for="star-3" class="star-3 fas fa-star"></label>
								<label for="star-4" class="star-4 fas fa-star"></label>
								<label for="star-5" class="star-5 fas fa-star"></label>
							</div>

						</div>
						
						
						@foreach (var d in Model.Desi)
						{
							<p class="description"> @d.BriefDescription</p>
						}


							<div class="review">
								<h1>Community reviews</h1>
								@foreach (var r in Model.DesReviews)
								{
									UserRepository repo = new UserRepository();
									UserDTO user = repo.GetUserById(r.UserId);
									@if (user.ProfilePic != null)
									{
										<img class="review-prof-pic" src="data:image/png;base64,@Convert.ToBase64String(user.ProfilePic)" />
									}
									else
									{
										<img class="review-prof-pic" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" />
									}
									<div class="email-rating">
										<h5> @user.Username </h5> <p class="fas fa-star">@r.Rating</p>
									</div>
									<p>@r.ReviewTxt</p> 
								}
						@if (Model.User != null && Model.Desi.FirstOrDefault().DesStatus == 1)
						{
							<form method="post">
								<h4> My review </h4>
								<textarea cols="15" rows="5" placeholder="Enter your opinion here..." asp-for="Review.ReviewTxt"></textarea>
								<button type="submit">Submit</button>
							</form>
						}
						
							</div>
					</form>

				</div>
			</div>
			</div>
	</body>
</html>


