@page

@model AdventureAisleCore.Pages.AccountModel
@{
   
    
}
<link rel="stylesheet" href="~/css/profile.css" />
<body>
    <section class="section about-section gray-bg" id="about">
        <div class="container-profile">
            <div class="avatar-container">
				    @if (Model.Usr != null && Model.Usr.ProfilePic != null)
				    {
				    	<img src="data:image/png;base64,@System.Convert.ToBase64String(@Model.Usr?.ProfilePic)" title="" id="avatar">
				    }
            </div>

            <div class="row align-items-center profile-info">
                <form method="post" class="col-lg-6">
                    <div class="about-text go-to">
                        @if (!String.IsNullOrEmpty(@Model.Usr.Username))
                        {
                            @if (Model.IsInEditMode == "Edit")
                            {
                                <input asp-for="@Model.Username" type="text" value="@Model.Usr.Username" />
                            }
                            else
                            {
                                <h3 class="dark-color">@Model.Usr.Username</h3>
                            }
                        }
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Email: </label>
                                    @if (!String.IsNullOrEmpty(@Model.Usr.Email))
                                    {
                                            <p>@Model.Usr.Email</p>
                                    }
                                </div>
                                <div class="media">
                                    <label>Bio</label>
                                    @if (Model.IsInEditMode == "Edit")
                                    {
                                        <input asp-for="@Model.Bio" type="text" value="@Model.Usr.Bio" />
                                    }
                                    else
                                    {
                                        <p>@Model.Usr.Bio</p>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>BirthDay: </label>
                                    @if (@Model.Usr.Birthday != null)
                                    {
                                        <p>@Model.Usr.Birthday</p>
                                    }
                                </div>
                                <div class="media">
                                    <label>User since</label>
                                    @if (@Model.Usr.UserSince != null)
                                    {
                                        <p>@Model.Usr?.UserSince</p>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (Model.IsInEditMode == "Edit")
                        {
                            <input type="submit" value="Submit" asp-for="IsInEditMode" id="submitBtn" />

                        }
                        else
                        {
                            <input type="submit" value="Edit" asp-for="IsInEditMode" id="editBtn" />
                        }
                    </div>
                </form>
            </div>
		    <div class="about-avatar">
		    	<form method="post" enctype="multipart/form-data" id="uploadPictureForm">
		    		<input type="file" name="ImageBytes" asp-for="Imagebytes" id="browseBtn" />
		    		<input type="submit" value="Upload" id="uploadBtn" />
		    	</form>
		    </div>
        </div>
    </section>
</body>